@using FoodStore.ViewModels
@using FoodStore.ViewModels.Admin
@model OrderFilterViewModel

@{
    ViewData["Title"] = "Manage Orders";
}

<h2>Manage Orders</h2>

<form method="get" asp-action="Index" asp-area="Admin" asp-controller="OrderManagement" class="mb-3">
    <label for="statusFilter">Filter by Status:</label>
    <select id="statusFilter" name="SelectedStatus" class="form-select d-inline w-auto">
        <option value="">All</option>
        <option value="Processed" selected="@(Model.SelectedStatus == "Processed")">Processed</option>
        <option value="Delivered" selected="@(Model.SelectedStatus == "Delivered")">Delivered</option>
    </select>
    <button type="submit" class="btn btn-primary ms-2">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Date</th>
            <th>Total</th>
            <th>Payment</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.UserEmail</td>
                <td>@order.OrderDate</td>
                <td>@($"{order.TotalAmount:F2} lv")</td>
                <td>@order.PaymentStatus</td>
                <td>@order.OrderStatus</td>
                <td>
                    @if (order.OrderStatus == "Processed")
                    {
                        <form asp-action="Deliver" method="get" asp-controller="OrderManagement" asp-area="Admin">
                            <input type="hidden" name="id" value="@order.OrderId" />
                            <button type="submit" class="btn btn-success btn-sm">
                                Deliver
                            </button>
                        </form>                   
                    }
                    else if (order.OrderStatus == "Delivered")
                    {
                        <button class="btn btn-secondary btn-sm" disabled>Delivered</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if (Model.Orders.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Orders.PageIndex - 1)">Previous</a>
            </li>
        }

        @if (Model.Orders.TotalPages > 1)
        {
            <li class="page-item active">
                <span class="page-link">@Model.Orders.PageIndex</span>
            </li>
        }


        @if (Model.Orders.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Orders.PageIndex + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
