@using FoodStore.ViewModels
@using FoodStore.ViewModels.Admin
@model PaginatedList<SupplierViewModel>

@{
    ViewData["Title"] = "Suppliers";
}

<h2 class="mb-4">All Suppliers</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning">No suppliers available.</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var supplier in Model)
                {
                    <tr>
                        <td>@supplier.Id</td>
                        <td>@supplier.Name</td>
                        <td>@supplier.Phone</td>
                        <td>@supplier.EmailAddress</td>
                        <td>
                            <a asp-area="Admin"
                            asp-controller="Supplier"
                            asp-action="EditSupplier"
                            asp-route-id="@supplier.Id"
                            class="btn btn-sm btn-warning me-2">Edit</a>
                            <a asp-area="Admin"
                            asp-controller="Supplier"
                            asp-action="Delete"
                            asp-route-id="@supplier.Id"
                            class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
                </li>
            }

            @if (Model.TotalPages > 1)
            {
                <li class="page-item active">
                    <span class="page-link">@Model.PageIndex</span>
                </li>
            }
            

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}


